<h3>Notificações</h3>

<nz-list nzItemLayout="horizontal">
    <nz-list-item *ngFor="let notification of notificationsList">
        <nz-list-item-meta>

            <nz-list-item-meta-title>
                <a [routerLink]="notification.routeLinkTo">{{ notification.title }}</a>
            </nz-list-item-meta-title>

            <nz-list-item-meta-description>
                <a [routerLink]="notification.routeLinkTo"> {{ notification.description }}</a>
            </nz-list-item-meta-description>

        </nz-list-item-meta>
    </nz-list-item>
</nz-list>

<div nz-row nzAlign="bottom">
    <button nz-button nzType="primary" (click)="back()">voltar</button>
</div>