<div nz-row>
  <div nz-col nzSpan="12">
    <nz-divider nzText="Tire suas dúvidas sobre o produto" nzOrientation="left"></nz-divider>

    <div nz-col nzSpan="24" *ngFor="let chatItem of messagesChatArray">

      <div *ngFor="let message of chatItem.questions" nz-row>

        <nz-timeline>
          <nz-timeline-item nzColor="gray">
            <p><span class="bold-author">Usuário: </span>{{message.question}}</p>
          </nz-timeline-item>

          <ng-container *ngIf="message.answer !== '' then templateRespostaAdmin">
          </ng-container>

          <ng-container *ngIf="message.answer == '' then templateAguardandoResposta">
          </ng-container>

          <ng-template #templateAguardandoResposta>

            <nz-timeline-item nzColor="gray">
              <span>aguardando resposta</span>

              <ng-container *ngIf="isAdminClaim">
                <button class="answer-btn" nz-button nzType="primary" (click)="openAnswerToAdmin()">Responder</button>

                <form *ngIf="answerToAdminIsOpen" [formGroup]="form">
                  <div nz-col nzSpan="24">
                    <nz-comment>
                      <nz-comment-content>
                        <nz-form-item>
                          <textarea formControlName="answer" [(ngModel)]="inputValue" nz-input
                            placeholder="Digite aqui a resposta!" [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                            (keydown.enter)="sendMessage()"></textarea>
                        </nz-form-item>

                        <nz-form-item class="align-submit-chat">
                          <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue"
                            (click)="handleSubmit()">
                            Enviar
                          </button>
                        </nz-form-item>
                      </nz-comment-content>
                    </nz-comment>
                  </div>
                </form>
              </ng-container>
            </nz-timeline-item>
          </ng-template>

          <ng-template #templateRespostaAdmin>
            <nz-timeline-item nzColor="gray">
              <p><span class="bold-author">Admin: </span>{{message.answer}}</p>
            </nz-timeline-item>
          </ng-template>

        </nz-timeline>

      </div>
    </div>

    <div nz-col nzSpan="24">
      <form [formGroup]="form" *ngIf="!isAdminClaim">
        <nz-comment>
          <nz-comment-content>
            <nz-form-item>
              <textarea *ngIf="!isAdminClaim" formControlName="question" [(ngModel)]="inputValue" nz-input
                placeholder="Digite aqui sua dúvida!" [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                (keydown.enter)="sendMessage()"></textarea>
            </nz-form-item>
            <nz-form-item class="align-submit-chat">
              <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue"
                (click)="handleSubmit()">
                Enviar
              </button>
            </nz-form-item>
          </nz-comment-content>
        </nz-comment>
      </form>
    </div>

  </div>
</div>