<div class="layout">
  <section class="item1">
    <app-product-presentation [photo1]="productModel.photo1" [photo2]="productModel.photo2"
      [photo3]="productModel.photo3" [photo4]="productModel.photo4">
    </app-product-presentation>
  </section>

  <section class="item2">
    <app-product-actions [productIsActive]="productModel.active!" [productActions]="productActions">
    </app-product-actions>
  </section>

  <section class="item3">
    <app-product-chat [routerId]="routerId" [productIsActive]="productModel.active!"></app-product-chat>
  </section>

  <div nz-row nzAlign="bottom">
    <button nz-button nzType="primary" (click)="back()">Voltar</button>
  </div>
</div>