<div class="img-box">
  <img nz-image [nzSrc]="mainPhoto || '../../../../assets/icons/user-icon.png'" alt="foto do produto" />
</div>

<div nz-row nzJustify="center">
  <div nz-col nzSpan="4">
    <img class="fit-img" nz-image width="80vh" height="80vh"
      nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" alt="foto do produto" />
  </div>

  <div nz-col nzSpan="4">
    <img class="fit-img" nz-image width="80vh" height="80vh"
      nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" alt="foto do produto" />
  </div>

  <div nz-col nzSpan="4">
    <img class="fit-img" nz-image width="80vh" height="80vh"
      nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" alt="foto do produto" />
  </div>

  <div nz-col nzSpan="4">
    <img class="fit-img" nz-image width="80vh" height="80vh"
      [nzSrc]="mainPhoto || '../../../../assets/icons/user-icon.png'" alt="foto do produto" />
  </div>
</div>