<div class="img-box">
  <img nz-image [nzSrc]="photo1 || '../../../../assets/icons/photo-error.png'" alt="foto do produto" />
</div>

<div nz-row nzJustify="center">
  <div nz-col nzSpan="4">
    <img class="fit-img" nz-image width="80vh" height="80vh"
      [nzSrc]="photo4 || '../../../../assets/icons/photo-error.png'" alt="foto do produto" />
  </div>

  <div nz-col nzSpan="4">
    <img class="fit-img" nz-image width="80vh" height="80vh"
      [nzSrc]="photo3 || '../../../../assets/icons/photo-error.png'" alt="foto do produto" />
  </div>

  <div nz-col nzSpan="4">
    <img class="fit-img" nz-image width="80vh" height="80vh"
      [nzSrc]="photo2 || '../../../../assets/icons/photo-error.png'" alt="foto do produto" />
  </div>

  <div nz-col nzSpan="4">
    <img class="fit-img" nz-image width="80vh" height="80vh"
      [nzSrc]="photo1 || '../../../../assets/icons/photo-error.png'" alt="foto do produto" />
  </div>
</div>