.title-label {
  margin-bottom: 0px;
  margin-top: 8px;
  font-size: 18px;
}

.price-tag {
  font-size: 18px;
  line-height: 20px;
}

:host ::ng-deep nz-card > .ant-card-cover {
  height: 240px;
  display: flex;
  align-items: center;
  margin: 4px;
}

:host ::ng-deep .ant-space {
  padding: 12px !important;
}

:host ::ng-deep .ant-card-body {
  padding: 12px !important;
}
