.size-icons {
  font-size: 25px;
  margin-right: 12px;
}

.card {
  box-shadow: 4px 1px 18px 4px #9c9c9c2b;
  border-radius: 10px;
  margin-bottom: 36vh;
  margin-top: 36px;
}

:host ::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 25px 16px !important;
  font-size: 22px !important;
  font-weight: 500;
}

p {
  font-size: 16px;
}

h3 {
  font-weight: 400;
}

label {
  font-weight: bold;
  font-size: 22px;
}
