.size-icons {
  font-size: 25px;
  margin-right: 12px;
}

.card {
  box-shadow: 4px 1px 18px 4px #9c9c9c2b;
  border-radius: 10px;
  margin-bottom: 36vh;
  margin-top: 36px;
}

:host ::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 25px 16px !important;
  font-size: 22px !important;
  font-weight: 500;
}

p {
  font-size: 16px;
}

h3 {
  font-weight: 400;
}

label {
  font-weight: bold;
  font-size: 22px;
}

:host ::ng-deep .ant-btn-primary:hover,
.ant-btn-primary:focus {
  border-color: transparent;
  background: #e9c0e1ab;
}

button {
  border-radius: 3px;
  height: 41px;
  margin-bottom: 23px;
  width: 150px;
  font-weight: 500;
  color: black;
  border-color: transparent;
  background-color: #e9c0e1ab;
  line-height: 12px;
  cursor: pointer;
}
