<nz-header class="banner-welcome">
    <!-- <span class="welcome-banner-title">Olá!</span> -->
    <span>Nuki's Brechó</span>
    <!-- <span class="banner-description">Confira os produtos mais recentes aqui abaixo! Ah, e você também pode buscar
            algum produto na opção Pesquisar
            lá em cima, ou na sua esquerda, buscando por categoria :) arrasa!</span> -->

    <!-- <nz-carousel nzAutoPlay>
            <div nz-carousel-content *ngFor="let index of array">
                <ng-container></ng-container>
            </div>
        </nz-carousel>

        <ng-template #template1>
            <h3>Bem vindo(a)!</h3>
             <span>Nuki's Brechó</span>
            <span class="banner-description">Confira os produtos mais recentes aqui abaixo! Ah, e você também pode
                buscar
                algum produto na opção Pesquisar
                lá em cima, ou na sua esquerda, buscando por categoria :) arrasa!</span> 
        </ng-template>

        <ng-template #template2>
            <h3>Sustentabilidade</h3>
        </ng-template>

        <ng-template #template3>
            <h3>Moda consciente</h3>
        </ng-template>

        <ng-template #template4>
            <h3>etc.</h3>
        </ng-template>  -->
</nz-header>

<nz-content>
    <app-product-card *ngFor="let product of productsList" [productMainPhoto]="product.mainPhoto || '-'"
        [productTitle]="product.title || '-'" [productBrand]="product.brand || '-'"
        [productPrice]="product.priceTag!.toString() || '0'" (click)="goToProduct(product.id!.toString() ||'0')">
    </app-product-card>
</nz-content>