<img class="bannerimage" src="../../../assets/images/bannernukis.png" alt="dd">

<nz-list nzGrid>
    <div nz-row [nzGutter]="16">

        <nz-list-item class="wrap-list">
            <app-product-card *ngFor="let product of productsList" [productMainPhoto]="product.mainPhoto || '-'"
                [productTitle]="product.title || '-'" [productBrand]="product.brand || '-'"
                [productPrice]="product.priceTag!.toString() || '0'"
                (click)="goToProduct(product.id!.toString() ||'0')">
            </app-product-card>
        </nz-list-item>

    </div>
</nz-list>