.page-titile {
  font-weight: 800;
  font-size: 30px;
}

.edit-icon {
  font-size: 25px;
}

.delete-icon {
  font-size: 25px;
  color: #d02727;
}

.valid-status {
  height: 22px;
  width: 22px;
  background-color: #06e006;
  border-radius: 32px;
  box-shadow: 1px 1px 3px 2px white;
  display: block;
  margin-top: 0%;
  margin-left: 9px;
}

.invalid-status {
  height: 22px;
  width: 22px;
  background-color: #acacac;
  border-radius: 32px;
  box-shadow: 1px 1px 3px 2px white;
  display: block;
  margin-top: 0%;
  margin-left: 9px;
}
