h3 {
  font-weight: bold;
  font-size: 22px;
}

.edit-icon {
  font-size: 25px;
}

.delete-icon {
  font-size: 25px;
  color: #d02727;
}

.redo-icon {
  font-size: 25px;
  color: #05a505;
}

.valid-status {
  height: 22px;
  width: 22px;
  background-color: #05a505;
  border-radius: 32px;
  box-shadow: 1px 1px 3px 2px white;
  display: block;
  margin-top: 0%;
  margin-left: 9px;
}

.invalid-status {
  height: 22px;
  width: 22px;
  background-color: #acacac;
  border-radius: 32px;
  box-shadow: 1px 1px 3px 2px white;
  display: block;
  margin-top: 0%;
  margin-left: 9px;
}
