<div nz-row nzJustify="center" nzAlign="middle" class="layout">
    <div nz-col nzSpan="24">
        <div *ngIf="!selectedWichMethod" nz-row nzJustify="center" nzAlign="middle">
            <nz-space nzSize='large'>
                <button *nzSpaceItem (click)="isRegisteredUser()">Já tenho cadastro</button>

                <button *nzSpaceItem (click)="isNewUser()">Sou novo aqui</button>
            </nz-space>
        </div>

        <ng-container #registeredUser *ngIf="registeredUser">
            <form nz-form [formGroup]="formUserLogin" (ngSubmit)="submit()" (keydown.enter)="submit()">
                <div nz-row>
                    <div nz-col nzSpan="24" class="title">
                        <p>LOGIN</p>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-form-item class="grid">
                            <nz-form-label [nzNoColon]="true" class="label">Nome de Usuário<span
                                    class="required-mark">*</span>
                            </nz-form-label>
                            <nz-form-control [nzErrorTip]="validacoes">
                                <input formControlName="userName" nz-input
                                    placeholder="Insira nome de usuário (apelido)" required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-item class="grid">
                            <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Senha<span
                                    class="required-mark">*</span>
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="validacoes">
                                <nz-input-group [nzSuffix]="suffixTemplate">
                                    <input formControlName="password" nz-input
                                        [type]="passwordVisible ? 'text' : 'password'" placeholder="Insira Senha"
                                        required />
                                </nz-input-group>
                            </nz-form-control>

                        </nz-form-item>
                    </div>

                </div>

                <div nz-row nzJustify="center" nzAlign="middle">
                    <div class="button-esquerda" nz-col nzSpan="12">
                        <button (click)="backToTheLoginChoices()">Voltar</button>
                    </div>
                    <div class="button-enviar" nz-col nzSpan="12">
                        <button type="submit" [disabled]="!formUserLogin.valid || !formUserLogin.dirty">Enviar</button>
                    </div>
                </div>
            </form>
        </ng-container>

        <ng-container #newUser *ngIf="newUser">
            <form nz-form [formGroup]="formNewUser" (ngSubmit)="submit()" (keydown.enter)="submit()">
                <div nz-row>
                    <div nz-col nzSpan="24" class="title">
                        <p>LOGIN</p>
                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-item class="grid">
                            <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Nome<span
                                    class="required-mark">*</span>
                            </nz-form-label>
                            <nz-form-control [nzErrorTip]="validacoes">
                                <input formControlName="name" nz-input placeholder="Insira seu nome completo"
                                    required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-item class="grid">
                            <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Nome de Usuário<span
                                    class="required-mark">*</span>
                            </nz-form-label>
                            <nz-form-control [nzErrorTip]="validacoes">
                                <input formControlName="userName" nz-input
                                    placeholder="Insira nome de usuário (apelido)" required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-item class="grid">
                            <nz-form-label [nzNoColon]="true" class="label">E-mail<span class="required-mark">*</span>
                            </nz-form-label>
                            <nz-form-control [nzErrorTip]="validacoes">
                                <input formControlName="email" nz-input placeholder="Insira seu E-mail" required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <nz-divider nz-col nzSpan="24" nzText="Endereço" nzOrientation="left"></nz-divider>

                    <div nz-row [nzGutter]="18">

                        <div nz-col nzSpan="12">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Rua<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validacoes">
                                    <input formControlName="street" nz-input placeholder="Insira sua Rua" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Número<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validacoes">
                                    <input formControlName="number" type="number" nz-input placeholder="Número da casa"
                                        required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Bairro<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validacoes">
                                    <input formControlName="neighborhood" nz-input placeholder="Bairro" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">CEP<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validacoes">
                                    <input formControlName="zipCode" type="number" nz-input placeholder="CEP"
                                        required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Cidade<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validacoes">
                                    <input formControlName="city" nz-input placeholder="Cidade" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Estado<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validacoes">
                                    <nz-select formControlName="state" nzPlaceHolder="UF" nzShowSearch>
                                        <nz-option nzAllowClear *ngFor="let uf of statesArray" [nzValue]="uf"
                                            [nzLabel]="uf">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Complemento<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validacoes">
                                    <input formControlName="addressDetails" nz-input placeholder="Casa/Apto..."
                                        required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-item class="grid">
                            <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Senha<span
                                    class="required-mark">*</span>
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="validacoes">
                                <nz-input-group [nzSuffix]="suffixTemplate">
                                    <input formControlName="password" nz-input
                                        [type]="passwordVisible ? 'text' : 'password'" placeholder="Senha" required />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <button (click)="backToTheLoginChoices()">Voltar</button>
                    </div>
                    <div class="button-enviar" nz-col nzSpan="12">
                        <button type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </ng-container>

        <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
    </div>

    <ng-template #validacoes let-control>
        <ng-container *ngIf="control.hasError('maxlength')">O máximo de caracteres é
            {{control.errors.maxlength.requiredLength}}
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">O mínimo de caracteres é
            {{control.errors.minlength.requiredLength}}</ng-container>
        <ng-container *ngIf="control.hasError('required')">O campo é Requerido</ng-container>
    </ng-template>