<div nz-row nzJustify="center" nzAlign="middle" class="layout">

    <div nz-col nzSpan="24">
        <div nz-col nzSpan="24">
            <a routerLink="/welcome">
                <img class="hello-image" alt="logo brechó" src="../assets/images/logonukislogin.png" />
            </a>
        </div>

        <div nz-col nzSpan="24">
            <div *ngIf="!selectedWichMethod" nz-row nzJustify="center" nzAlign="middle">
                <nz-space nzSize='large'>
                    <button *nzSpaceItem (click)="isRegisteredUser()">Já tenho cadastro</button>
                </nz-space>
            </div>

            <div *ngIf="!selectedWichMethod" nz-row nzJustify="center" nzAlign="middle">
                <nz-space nzSize='large'>
                    <button *nzSpaceItem (click)="isNewUser()">Sou novo aqui</button>
                </nz-space>
            </div>
        </div>

        <ng-container #registeredUser *ngIf="registeredUser">
            <form nz-form [formGroup]="formUserLogin" (ngSubmit)="submit()" (keydown.enter)="submit()">
                <div nz-row>
                    <div nz-col nzSpan="24" class="title">
                        <p>Faça login no Nuki's</p>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-form-item class="grid">
                            <nz-form-label [nzNoColon]="true" class="label">E_mail<span class="required-mark">*</span>
                            </nz-form-label>
                            <nz-form-control [nzErrorTip]="validations">
                                <input formControlName="email" nz-input placeholder="Insira o e-mail cadastrado"
                                    required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-item class="grid">
                            <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Senha<span
                                    class="required-mark">*</span>
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="validations">
                                <nz-input-group [nzSuffix]="suffixTemplate">
                                    <input formControlName="password" nz-input
                                        [type]="passwordVisible ? 'text' : 'password'" placeholder="Insira Senha"
                                        required />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row nzJustify="center" nzAlign="middle">
                    <div class="button-esquerda" nz-col nzSpan="12">
                        <button (click)="backToTheLoginChoices()">Voltar</button>
                    </div>
                    <div class="button-enviar" nz-col nzSpan="12">
                        <button type="submit" [disabled]="!formUserLogin.valid || !formUserLogin.dirty">Enviar</button>
                    </div>
                </div>
            </form>
        </ng-container>

        <ng-container #newUser *ngIf="newUser">
            <form nz-form [formGroup]="formNewUser" (ngSubmit)="submit()" (keydown.enter)="submit()">
                <div nz-row>
                    <div nz-col nzSpan="24" class="title">
                        <p>Crie sua conta no Nuki's</p>
                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-item class="grid">
                            <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Nome<span
                                    class="required-mark">*</span>
                            </nz-form-label>
                            <nz-form-control [nzErrorTip]="validations">
                                <input formControlName="name" nz-input placeholder="Insira seu nome completo" required
                                    minlength="2" maxlength="40" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-item class="grid">
                            <nz-form-label [nzNoColon]="true" class="label">E-mail<span class="required-mark">*</span>
                            </nz-form-label>
                            <nz-form-control [nzErrorTip]="validations">
                                <input formControlName="email" nz-input placeholder="exemplo@gmail.com" minlength="10"
                                    maxlength="50" required />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <nz-divider nz-col nzSpan="24" nzText="Endereço" nzOrientation="left"></nz-divider>

                    <div nz-row [nzGutter]="18">
                        <div nz-col nzSpan="12">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Rua<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validations">
                                    <input formControlName="street" nz-input placeholder="Rua Exemplo da Silva" required
                                        minlength="1" maxlength="70" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Número<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validations">
                                    <input formControlName="number" type="number" nz-input placeholder="123" required
                                        minlength="1" maxlength="10" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Bairro<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validations">
                                    <input formControlName="neighborhood" nz-input placeholder="Bairro Exemplo" required
                                        minlength="1" maxlength="30" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">CEP<span
                                        class="required-mark">*</span>
                                </nz-form-label>

                                <nz-form-control formGroupName="address" [nzErrorTip]="validations">
                                    <input formControlName="zipCode" pattern="([0-9]{8})" maxlength="8" minlength="8"
                                        nz-input placeholder="Ex: 89001234" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Cidade<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validations">
                                    <input formControlName="city" nz-input placeholder="Cidade" required minlength="1"
                                        maxlength="40" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Complemento
                                </nz-form-label>
                                <nz-form-control formGroupName="address">
                                    <input formControlName="addressDetails" nz-input placeholder="Casa/Apto..."
                                        maxlength="50" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="6">
                            <nz-form-item class="grid">
                                <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Estado<span
                                        class="required-mark">*</span>
                                </nz-form-label>
                                <nz-form-control formGroupName="address" [nzErrorTip]="validations">
                                    <nz-select formControlName="state" nzPlaceHolder="UF" nzShowSearch>
                                        <nz-option nzAllowClear *ngFor="let uf of statesArray" [nzValue]="uf"
                                            [nzLabel]="uf">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-item class="grid">
                            <nz-form-label [nzNoColon]="true" nzNoColon="false" class="label">Senha<span
                                    class="required-mark">*</span>
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="validations">
                                <nz-input-group [nzSuffix]="suffixTemplate">
                                    <input formControlName="password" nz-input
                                        [type]="passwordVisible ? 'text' : 'password'" placeholder="Senha" required />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <button (click)="backToTheLoginChoices()">Voltar</button>
                    </div>
                    <div class="button-enviar" nz-col nzSpan="12">
                        <button *ngIf="newUser" type="submit"
                            [disabled]="formNewUser.invalid || !formNewUser.dirty">Enviar</button>

                        <button *ngIf="registeredUser" type="submit"
                            [disabled]="formUserLogin.invalid || !formUserLogin.dirty">Enviar</button>
                    </div>
                </div>
            </form>
        </ng-container>

        <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
    </div>
</div>

<ng-template #validations let-control>
    <ng-container *ngIf="control.hasError('maxlength')">O máximo de caracteres é
        {{control.errors.maxlength.requiredLength}}
    </ng-container>
    <ng-container *ngIf="control.hasError('minlength')">O mínimo de caracteres é
        {{control.errors.minlength.requiredLength}}</ng-container>
    <ng-container *ngIf="control.hasError('required')">O campo é Requerido</ng-container>
</ng-template>