<ng-container *ngIf="showLayout; then withLayout else withoutLayout"></ng-container>

<ng-template #withoutLayout>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #withLayout>
  <nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">

      <div class="sidebar-logo">
        <a (click)="goToHome()">
          <img alt="home" src="../assets/images/nukislogo.png" />
          <h1>Nuki's Brechó</h1>
        </a>
      </div>

      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Produtos" nzIcon="tag">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/product/clothes">Roupas</a>
            </li>

            <li nz-menu-item nzMatchRouter>
              <a routerLink="/product/accessories">Acessórios</a>
            </li>

            <li nz-menu-item nzMatchRouter>
              <a routerLink="/product/shoes">Calçados</a>
            </li>

            <li nz-menu-item nzMatchRouter>
              <a routerLink="/product/all">Todos produtos</a>
            </li>
          </ul>
        </li>

        <li *ngIf="isAdmin" nz-submenu nzOpen nzTitle="Gerenciamento" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/user">Usuário</a>
            </li>
          </ul>
        </li>

        <li nz-submenu nzOpen nzTitle="Ajuda" nzIcon="question-circle">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome/help">Ajuda e Avaliações</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>

    <nz-layout>
      <nz-header>
        <div class="app-header">
          <ul class="center-navbar" nz-menu nzMode="horizontal" class="header-menu">

            <li nz-menu-item nzSelected>
              <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                <em class="trigger" nz-icon [nzType]="isCollapsed ? 'right' : 'left'"></em>
              </span>
            </li>

            <li nz-menu-item>
              <nz-select nzPlaceHolder="Pesquisar prouto por título..." nzShowSearch nzAllowClear
                [(ngModel)]="selectedProductSearchBar" (ngModelChange)="goToProduct()">
                <nz-option nzAllowClear *ngFor="let product of productsList" [nzValue]="product"
                  [nzLabel]="product.title || 'erro ao carregar título'">
                </nz-option>
              </nz-select>
            </li>

            <ng-container *ngIf="isLoggedIn; then menuLoggedAccess else menuNotLoggedInAccess"></ng-container>

            <ng-template #menuLoggedAccess>
              <li class="padding-sides"><span>Olá, {{firstName ||'erro ao carregar nome de usuário'}} :)</span></li>

              <li nz-menu-item (click)="goToProfile()">Minha conta</li>

              <li nz-menu-item *ngIf="!isAdmin" routerLink="/user/orders">Meus pedidos</li>

              <!-- <nz-badge [nzCount]="notificationsCount"> -->
              <li nz-menu-item routerLink="/user/notifications">Notificações</li>
              <!-- </nz-badge> -->

              <li nz-menu-item (click)="logout()">Sair</li>
            </ng-template>

            <ng-template #menuNotLoggedInAccess>
              <li nz-menu-item routerLink="/login">Entrar</li>
            </ng-template>

          </ul>
        </div>
      </nz-header>

      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>

    </nz-layout>
  </nz-layout>
</ng-template>

<ngx-ui-loader fgsColor="#e9c0e1ab" overlayColor="rgba(40,40,40,.85)"></ngx-ui-loader>