<h3>
    Meus pedidos
</h3>

<ng-container *ngFor="let order of orders">
    <nz-card nzType="inner" nzTitle="Pedido #00{{order.id}}" [nzExtra]="extraTemplate">

        <ng-container *ngFor="let product of order.products">
            <div nz-row style="margin-top:16px; margin-bottom: 26px;">
                <a routerLink="/product/{{product.id}}">
                    <img class="fit-img" nz-image width="80vh" height="80vh" nzSrc="{{product.photo}}"
                        alt="foto do produto" />
                    <span>{{product.title}}</span>
                </a>
            </div>
        </ng-container>

        <nz-steps>
            <nz-step nzTitle="realizado" nzStatus="finish" nzIcon="shopping-cart"></nz-step>
            <nz-step nzTitle="processando pgto." nzStatus="process" nzIcon="solution"></nz-step>
            <nz-step nzTitle="pgto. aprovado" nzStatus="wait" nzIcon="solution"></nz-step>
            <nz-step nzTitle="envio" nzStatus="wait" nzIcon="code-sandbox"></nz-step>
            <nz-step nzTitle="finalizado" nzStatus="wait" [nzIcon]="iconTemplate"></nz-step>
            <ng-template #iconTemplate><i nz-icon nzType="smile"></i></ng-template>
        </nz-steps>
    </nz-card>
</ng-container>

<ng-template #extraTemplate>
    <a routerLink="/welcome/help">entrar em contato</a>
</ng-template>

<div nz-row nzAlign="bottom">
    <button nz-button nzType="primary" (click)="back()" class="mt-btn-return">Voltar</button>
</div>