<h3>
    Meus pedidos
</h3>

<ng-container *ngFor="let soldProduct of productsList">
    <nz-card nzType="inner" nzTitle="Produto #00{{soldProduct.id}}" [nzExtra]="extraTemplate">
        <div nz-row style="margin-top:16px; margin-bottom: 26px;">
            <a routerLink="/product/{{soldProduct.id}}">
                <img class="fit-img" nz-image width="80vh" height="80vh" nzSrc="{{soldProduct.photo1}}"
                    alt="foto do produto" />
                <span>{{soldProduct.title}}</span>
            </a>
        </div>

        <nz-steps>
            <nz-step nzTitle="realizado" nzStatus="finish" nzIcon="shopping-cart"></nz-step>
            <nz-step nzTitle="processando pgto." nzStatus="process" nzIcon="solution"></nz-step>
            <nz-step nzTitle="pgto. aprovado" nzStatus="wait" nzIcon="solution"></nz-step>
            <nz-step nzTitle="envio" nzStatus="wait" nzIcon="code-sandbox"></nz-step>
            <nz-step nzTitle="finalizado" nzStatus="wait" [nzIcon]="iconTemplate"></nz-step>
            <ng-template #iconTemplate><i nz-icon nzType="smile"></i></ng-template>
        </nz-steps>
    </nz-card>
</ng-container>

<ng-template #extraTemplate>
    <a routerLink="/welcome/help">entrar em contato</a>
</ng-template>

<div nz-row nzAlign="bottom">
    <button nz-button nzType="primary" (click)="back()" class="mt-btn-return">Voltar</button>
</div>