<form nz-form [nzLayout]="'vertical'" [formGroup]="form">
    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Nome Completo</nz-form-label>
                <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
                    <input nz-input formControlName="completeName" placeholder="insira seu nome completo" />
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Celular</nz-form-label>
                <nz-form-control [nzSpan]="12">
                    <input nz-input formControlName="mobileNumber" placeholder="insira seu número de celular" />
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Endereço</nz-form-label>
                <nz-form-control [nzSpan]="12">
                    <input nz-input formControlName="completeAddress" placeholder="insira seu endereço completo" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
                <nz-form-control [nzSpan]="12">
                    <input nz-input formControlName="email" placeholder="exemplo@gmail.com" type="email" />
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Permissão (claim)</nz-form-label>
                <nz-form-control [nzSpan]="12">
                    <nz-radio-group formControlName="claim" [(ngModel)]="radioValue">
                        <label nz-radio nzValue="1">Admin</label>
                        <label nz-radio nzValue="2">Usuário</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Senha</nz-form-label>
                <nz-form-control [nzSpan]="12" nzDisableAutoTips nzErrorTip="Por favor insira sua senha!">
                    <input nz-input type="password" formControlName="password" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Confirmação de senha</nz-form-label>
                <nz-form-control [nzSpan]="12" nzDisableAutoTips [nzErrorTip]="passwordErrorTpl">
                    <input nz-input type="password" formControlName="confirmPassword"
                        placeholder="confirme sua senha" />
                    <ng-template #passwordErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">Por favor confirme sua senha!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">As senhas não coincidem!</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" (click)="submit()">enviar</button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>

<div nz-row nzAlign="bottom">
    <button nz-button nzType="primary" (click)="back()">voltar</button>
</div>