<div class="action-box">
  <div class="header">
    <h3 class="product-title">{{productActions?.title }}</h3>

    <ng-container *ngIf="productIsActive && isLoggedIn then templateLikeEnabled else templateLikeDisabled">
    </ng-container>

    <ng-template #templateLikeDisabled>
      <div>
        <nz-badge [nzCount]="productActions.wishlistedCount" [nzStyle]="{ backgroundColor: '#959494'}">
          <i class="size-disabled-hearts" nz-icon nzType="heart" nzTheme="outline">
          </i>
        </nz-badge>
      </div>
    </ng-template>

    <ng-template #templateLikeEnabled>
      <ng-container *ngIf="likeThisProduct then templateLiked else templateNotLiked"></ng-container>
    </ng-template>

    <ng-template #templateNotLiked>
      <div>
        <nz-badge [nzCount]="productActions.wishlistedCount">
          <a (click)="likeProduct()">
            <i class="size-hearts" nz-icon nzType="heart" nzTheme="outline">
            </i>
          </a>
        </nz-badge>
      </div>
    </ng-template>

    <ng-template #templateLiked>
      <div>
        <nz-badge [nzCount]="productActions.wishlistedCount">
          <a (click)="likeProduct()">
            <i class="size-hearts" nz-icon [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
          </a>
        </nz-badge>
      </div>
    </ng-template>
  </div>

  <a *ngIf="productActions?.category =='roupas'" routerLink="/product/clothes">
    <span class="category-label">Categoria: {{productActions?.category}}</span>
  </a>

  <a *ngIf="productActions?.category =='acessorios'" routerLink="/product/accessories">
    <span class="category-label">Categoria: {{productActions?.category}}</span>
  </a>

  <a *ngIf="productActions?.category =='calcados'" routerLink="/product/shoes">
    <span class="category-label">Categoria: {{productActions?.category}}</span>
  </a>

  <span class="price-tag">R$ {{productActions?.priceTag}},00</span>

  <div nz-col nzSpan="24">
    <nz-card class="center-size" nzTitle="Tamanho {{productActions?.size}}">
      <div nz-card-grid [ngStyle]="gridStyle">
        <span>marca:</span>
        <p>{{productActions?.brand}}</p>
      </div>

      <div nz-card-grid [ngStyle]="gridStyle">
        <span>condição:</span>
        <p>{{productActions?.condition}}</p>
      </div>

      <div nz-card-grid [ngStyle]="gridStyle">
        <span>código:</span>
        <p>{{productActions?.productCode}}</p>
      </div>
    </nz-card>
  </div>

  <div class="border-details" nz-col nzSpan="24">
    <p class="description-label">Descrição:</p>
    <span class="details-size">{{productActions?.description}}</span>
  </div>

  <button *ngIf="productActions?.active" nz-button nzType="primary" (click)="goPurchase()" [disabled]="!isLoggedIn"
    nzTooltipTitle="Realize login para comprar" nzTooltipPlacement="top" nz-tooltip
    [nzTooltipVisible]="!isLoggedIn">Comprar
    agora</button>

  <h3 *ngIf="!productActions?.active">produto já vendido :/</h3>
</div>