<form nz-form [formGroup]="form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col nzSpan="10">
            <div nz-row [nzGutter]="[24,24]">
                <div nz-col nzSpan="24" class="center-photo">

                    <form action="/action_page.php">
                        <label for="myfile">Select files:</label>
                        <input formControlName="mainPhoto" type="file" id="myfile" accept=".jpg, .jpeg, .png"
                            name="myfile" multiple>
                    </form>

                    <img *ngIf="edition" nz-image style="aspect-ratio: 1/1; width: 100%;" 
                        [nzSrc]="productModel.mainPhoto || '../../../../assets/icons/user-icon.png'"
                        alt="foto do produto" />

                    <div *ngIf="edition" class="margin-photos" nz-row nzJustify="center">
                        <div nz-col nzSpan="4">
                            <img nz-image width="80vh" height="80vh"
                                nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                                alt="foto do produto" />
                        </div>

                        <div nz-col nzSpan="4">
                            <img nz-image width="80vh" height="80vh"
                                nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                                alt="foto do produto" />
                        </div>

                        <div nz-col nzSpan="4">
                            <img nz-image width="80vh" height="80vh"
                                nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                                alt="foto do produto" />
                        </div>

                        <div nz-col nzSpan="4">
                            <img nz-image width="80vh" height="80vh"
                                [nzSrc]="productModel.mainPhoto || '../../../../assets/icons/user-icon.png'"
                                alt="foto do produto" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div nz-col nzSpan="14">
            <div nz-row [nzGutter]="[24,24]">
                <div nz-col nzSpan="24">
                    <h3 class="product-title">Título:
                        <nz-form-item>
                            <nz-form-control>
                                <input nz-input formControlName="title" placeholder="insira o título do produto" />
                            </nz-form-control>
                        </nz-form-item>
                    </h3>
                    <nz-form-item>
                        <nz-form-control>
                            <span class="category-label">Categoria: <input nz-input formControlName="category"
                                    placeholder="insira a categoria que a peça se encaixa" />
                            </span>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="24">
                    <div nz-col nzSpan="12" class="padding-0px">
                        <nz-tag [nzColor]="'#87d068'">R$ <input nz-input formControlName="priceTag"
                                placeholder="insira o valor do produto" />
                        </nz-tag>
                    </div>
                </div>

                <div nz-col nzSpan="24">
                    <nz-card class="center-size" nzTitle="Código {{productModel.productCode}}">
                        <div nz-card-grid [ngStyle]="gridStyle">
                            <span>marca:</span>
                            <input nz-input formControlName="brand" placeholder="insira a marca do produto" />
                        </div>

                        <div nz-card-grid [ngStyle]="gridStyle">
                            <span>condição:</span>
                            <input nz-input formControlName="condition" placeholder="insira a condição do produto" />
                        </div>

                        <div nz-card-grid [ngStyle]="gridStyle">
                            <span>tamanho:</span>
                            <input nz-input formControlName="size" placeholder="insira o tamanho do produto" />
                        </div>
                    </nz-card>
                </div>

                <div nz-col nzSpan="24">
                    <p class="description-label">Descrição:</p>
                    <input nz-input formControlName="description" placeholder="insira uma descrição para o produto" />
                </div>
            </div>
        </div>
    </div>

    <div nz-row nzAlign="bottom">
        <button nz-button nzType="primary" (click)="back()">voltar</button>
    </div>

    <div nz-col nzSpan="12">
        <nz-form-item>
            <nz-form-control [nzOffset]="7" [nzSpan]="12">
                <button nz-button nzType="primary" (click)="submit()">enviar</button>
            </nz-form-control>
        </nz-form-item>
    </div>
</form>